<!DOCTYPE html>
<html>
    <head>
        <title>Expenses</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'receipts_home' %}">Receipts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipts</a>
                    </li>
                    <li>
                        <a href="{% url 'expense_categories' %}">Expenses Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts_list' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'expense_create' %}">Create Expense</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>